<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jh.briefingNew.mapping.IBriefingCropMapper" >

    <!--
  * 根据区域查询作物
  * @param regionId
  * @return
  *@version <1> 2018-07-23 wl : Created.
  -->
    <select id="findCropList" resultType="com.jh.briefingNew.entity.BriefingCrop" parameterType="java.lang.Long">
        select b.data_name as cropName,b.data_code as cropCode,b.dict_id as cropId  from ds_relate_crop_region a
        join init_dict b on a.crop_id = b.dict_id and b.data_status = '1' and a.region_id = #{regionId}
    </select>


</mapper>