<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jh.forum.bbs.mapping.IForumCommentMapper" >


  <resultMap id="BaseResultMap" type="com.jh.forum.bbs.vo.CommentVo" >
    <id column="comment_id" jdbcType="INTEGER" property="commentId" />
    <result column="article_id" jdbcType="INTEGER" property="articleId" />
    <result column="first_comment_id" jdbcType="INTEGER" property="firstCommentId" />
    <result column="level" jdbcType="CHAR" property="level" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="data_status" jdbcType="CHAR" property="dataStatus" />
    <result column="del_flag" jdbcType="CHAR" property="delFlag" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="creator_name" jdbcType="VARCHAR" property="creatorName" />
    <result column="creator" jdbcType="INTEGER" property="creator" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="modifier_name" jdbcType="VARCHAR" property="modifierName" />
    <result column="modifier" jdbcType="INTEGER" property="modifier" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>


  <sql id="Base_Column_List" >
    comment_id, article_id, first_comment_id, level, content, data_status, del_flag,
    create_time, creator_name, creator, modify_time, modifier_name, modifier, remark
  </sql>


  <insert id="save" parameterType="ForumComment" >
      <!--
        WARNING - @mbggenerated
        This element is automatically generated by MyBatis Generator, do not modify.
      -->
      insert into forum_comment
      <trim prefix="(" suffix=")" suffixOverrides="," >
        <if test="articleId != null" >
          article_id,
        </if>
        <if test="firstCommentId != null" >
          first_comment_id,
        </if>
        <if test="level != null" >
          level,
        </if>
        <if test="content != null" >
          content,
        </if>
          create_time,
        <if test="creatorName != null" >
          creator_name,
        </if>
        <if test="creator != null" >
          creator,
        </if>
        <if test="remark != null" >
          remark,
        </if>
      </trim>
      <trim prefix="values (" suffix=")" suffixOverrides="," >
        <if test="articleId != null" >
          #{articleId,jdbcType=INTEGER},
        </if>
        <if test="firstCommentId != null" >
          #{firstCommentId,jdbcType=INTEGER},
        </if>
        <if test="level != null" >
          #{level,jdbcType=INTEGER},
        </if>
        <if test="content != null" >
          #{content,jdbcType=VARCHAR},
        </if>
        now(),
        <if test="creatorName != null" >
          #{creatorName,jdbcType=VARCHAR},
        </if>
        <if test="creator != null" >
          #{creator,jdbcType=INTEGER},
        </if>
        <if test="remark != null" >
          #{remark,jdbcType=VARCHAR},
        </if>
      </trim>
  </insert>


  <!--根据帖子ID查询评论,仅查询一级评论-->
  <select id="findCommentsByPage" parameterType="CommentVo" resultMap="BaseResultMap">
      select
      <include refid="Base_Column_List" />
      from forum_comment
      <where>
        del_flag = '1' and data_status = '1'
        <if test="articleId != null">
          and article_id = #{articleId,jdbcType=INTEGER}
          and level = '1'
        </if>
        <if test="commentId != null">
          and comment_id = #{commentId,jdbcType=INTEGER}
        </if>
        <if test="firstCommentId != null">
          and first_comment_id = #{firstCommentId,jdbcType=INTEGER}
          and level = '2'
        </if>
      </where>
      order by create_time desc
  </select>


  <select id="findCommentsByFirstCommentId" parameterType="Integer" resultMap="BaseResultMap">
      select
      <include refid="Base_Column_List" />
      from forum_comment where first_comment_id = #{firstCommentId,jdbcType=INTEGER}
      order by create_time desc
  </select>
  
  <delete id="deleteByCommentId" parameterType="Integer">
    delete from forum_comment
    where comment_id = #{commentId,jdbcType=INTEGER}
    or first_comment_id = #{commentId,jdbcType=INTEGER}
  </delete>


  <delete id="deleteCommentByArticleId" parameterType="Integer">
    delete from forum_comment where article_id = #{articleId,jdbcType=INTEGER}
  </delete>




</mapper>