<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jh.briefing.mapping.IDiseaseControlMapper">
  <resultMap id="BaseResultMap" type="com.jh.briefing.entity.DiseaseControl">
    <result column="disease_id" jdbcType="INTEGER" property="diseaseId" />
    <result column="growth_id" jdbcType="INTEGER" property="growthId" />
    <result column="disease_name" jdbcType="VARCHAR" property="diseaseName" />
    <result column="disease_measure" jdbcType="VARCHAR" property="diseaseMeasure" />
    <result column="disease_remark" jdbcType="VARCHAR" property="diseaseRemark" />
    <result column="crops_id" jdbcType="INTEGER" property="cropsId" />
    <result column="region_id" jdbcType="BIGINT" property="regionId" />
  </resultMap>

  <sql id="Base_Column_List">
    disease_id, growth_id, disease_name, disease_measure, disease_remark,crops_id,region_id
  </sql>

  <!--
   * 根据ID获取农作物病情防治信息记录对象
   * @param diseaseControlParam 农作物病情防治对象
   * @return
   * @version <1> 2018-04-12 lxy： Created.
   * @version <2> 2018-04-18 cxw： update:重写方法
  -->
  <select id="getById" parameterType="java.lang.Integer" resultType="com.jh.briefing.model.DiseaseControlParam">
    select
    dis.disease_id diseaseId,
    dis.growth_id growthId,
    dis.crops_id cropsId,
    dis.region_id regionId,
    region.china_name regionName,
    dict.data_name cropsName,
    prd.growth_name growthName,
    dis.disease_name diseaseName,
    dis.disease_measure diseaseMeasure,
    dis.disease_remark diseaseRemark
    from (select  <include refid="Base_Column_List" />  from briefing_disease_control where disease_id = #{diseaseId,jdbcType=INTEGER})  dis
    left join init_region region on dis.region_id = region.region_id
    left join init_dict dict on dis.crops_id = dict.dict_id
    left join briefing_crops_growth_period prd
    on dis.growth_id = prd.growth_id
  </select>

  <!--
  新增/修改时查询作物病情是否已存在
   @param CropsGrowthPeriod 农作物生育周期配置对象
   @return int
   @version <1> 2018-04-18 cxw:Created
-->
  <select id="findDiseaseControlCount" resultType="java.lang.Integer" parameterType="com.jh.briefing.model.DiseaseControlParam">
    select  count(*) num
    from briefing_disease_control dis
    <where>
      <if test="cropsId != null and cropsId != ''" >
        dis.crops_id=#{cropsId}
      </if>
      <if test="regionId != null and regionId != ''" >
        and dis.region_id=#{regionId}
      </if>
      <if test="growthId != null and growthId != ''" >
        and dis.growth_id = #{growthId}
      </if>
      <if test="diseaseName != null and diseaseName != ''" >
        and dis.disease_name = #{diseaseName}
      </if>
      <if test="diseaseId != null and diseaseId != ''" >
        and dis.disease_id != #{diseaseId}
      </if>
    </where>
  </select>

  <select id="findByPage" resultMap="BaseResultMap" parameterType="com.jh.briefing.model.DiseaseControlParam">
    select
    <include refid="Base_Column_List" />
    from briefing_disease_control
  </select>

  <!--
   *农作物病情防治信息分页查询
   * @param diseaseControlParam 农作物病情防治对象
   * @return
   * @version <1> 2018-04-12 lxy： Created.
   * @version <2> 2018-04-18 cxw： update:重写方法
  -->
  <select id="findDiseaseByPage" resultType="com.jh.briefing.model.DiseaseControlParam" parameterType="com.jh.briefing.model.DiseaseControlParam">
    select
      dis.disease_id diseaseId,
      dis.growth_id growthId,
      prd.growth_name growthName,
      region.china_name regionName,
      dis.disease_name diseaseName,
      dis.disease_measure diseaseMeasure,
      dis.crops_id cropsId,
      dict.data_name cropsName,
      dis.region_id regionId,
      dis.disease_remark diseaseRemark
    from briefing_disease_control dis
    left join briefing_crops_growth_period prd
    on dis.growth_id = prd.growth_id
    left join init_region region
    on dis.region_id = region.region_id
    left join init_dict dict on dis.crops_id = dict.dict_id
    <where>
      <if test="cropsId != null and cropsId != ''" >
        dis.crops_id=#{cropsId}
      </if>
      <if test="regionId != null and regionId != ''" >
        and dis.region_id=#{regionId}
      </if>
      <if test="growthId != null and growthId != ''" >
        and dis.growth_id = #{growthId}
      </if>
      <if test="diseaseName != null and diseaseName != ''" >
        and dis.disease_name like CONCAT('%', #{diseaseName}, '%')
      </if>
    </where>
    order by dis.disease_id desc
  </select>

  <!-- 根据物候期编号查询作物病情和病情防治信息 -->
  <select id="queryCropsDiseaseByGrowthId" resultType="com.jh.briefing.model.DiseaseControlParam" parameterType="java.lang.Integer">
    select
      dis.disease_id diseaseId,
      dis.growth_id growthId,
      prd.growth_name growthName,
      dis.disease_name diseaseName,
      dis.disease_measure diseaseMeasure,
      dis.disease_remark diseaseRemark
    from briefing_disease_control dis
    left join briefing_crops_growth_period prd
    on dis.growth_id = prd.growth_id
    <where>
      <if test="growthId != null and growthId != ''" >
        dis.growth_id = #{growthId}
      </if>
    </where>
    order by dis.disease_id desc
  </select>

  <!--
    * 农作物农病情防治信息记录删除
     * @param diseaseId 农作物农病情防治信息ID
     * @return
     * @version <1> 2018-04-18 cxw： Created.
  -->
  <delete id="deleteDiseaseControl" parameterType="java.lang.Integer">
    delete from briefing_disease_control
    where disease_id = #{diseaseId,jdbcType=INTEGER}
  </delete>

  <!--
     * 农作物病情防治信息记录新增
     * @param diseaseControlParam
     * @return
     * @version <1> 2018-04-18 cxw： Created.
  -->
  <insert id="addDiseaseControl" parameterType="com.jh.briefing.model.DiseaseControlParam">
    insert into briefing_disease_control
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="diseaseId != null">
        disease_id,
      </if>
      <if test="growthId != null">
        growth_id,
      </if>
      <if test="cropsId != null">
        crops_id,
      </if>
      <if test="regionId != null">
        region_id,
      </if>
      <if test="diseaseName != null">
        disease_name,
      </if>
      <if test="diseaseMeasure != null">
        disease_measure,
      </if>
      <if test="diseaseRemark != null">
        disease_remark,
      </if>
      create_time
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="diseaseId != null">
        #{diseaseId,jdbcType=INTEGER},
      </if>
      <if test="growthId != null">
        #{growthId,jdbcType=INTEGER},
      </if>
      <if test="cropsId != null">
        #{cropsId,jdbcType=INTEGER},
      </if>
      <if test="regionId != null">
        #{regionId,jdbcType=BIGINT},
      </if>
      <if test="diseaseName != null">
        #{diseaseName,jdbcType=VARCHAR},
      </if>
      <if test="diseaseMeasure != null">
        #{diseaseMeasure,jdbcType=VARCHAR},
      </if>
      <if test="diseaseRemark != null">
        #{diseaseRemark,jdbcType=VARCHAR},
      </if>
      now()
    </trim>
  </insert>

  <!--
    * 农作物病情防治信息记录修改
     * @param diseaseControlParam
     * @return
     * @version <1> 2018-04-18 cxw: Created.
  -->
  <update id="updateDiseaseControl" parameterType="com.jh.briefing.model.DiseaseControlParam">
    update briefing_disease_control
    <set>
      <if test="growthId != null">
        growth_id = #{growthId,jdbcType=INTEGER},
      </if>
      <if test="cropsId != null">
        crops_id = #{cropsId,jdbcType=INTEGER},
      </if>
      <if test="regionId != null">
        region_id = #{regionId,jdbcType=BIGINT},
      </if>
      <if test="diseaseName != null">
        disease_name = #{diseaseName,jdbcType=VARCHAR},
      </if>
      <if test="diseaseMeasure != null">
        disease_measure = #{diseaseMeasure,jdbcType=VARCHAR},
      </if>
      <if test="diseaseRemark != null">
        disease_remark = #{diseaseRemark,jdbcType=VARCHAR},
      </if>
      modify_time = now()
    </set>
    where disease_id = #{diseaseId,jdbcType=INTEGER}
  </update>
</mapper>